*.log

.cache
.classpath
.project
.scala_dependencies
.settings
target
.target

code/lift/src/main/webapp/static/coffee/*.js
code/lift/src/main/webapp/static/less/*.css

code/project/boot
code/project/project
code/project/strap/sbt-launch-*.jar

files/ftp/*
files/gopher/*