.classpath
.project
.settings
target

code/lift/src/main/webapp/static/coffee/*.js
code/lift/src/main/webapp/static/less/*.css
code/project/boot
code/project/project

sbt-launch-*.jar

files/ftp/*
files/gopher/*

*.log
